body {
    background: url(../Images/WhiteFlowers.PNG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #343a40;
   }

.container {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    /*background-color: #fdfcfc; */
}

.row {
    width: 100%;
    margin: 20px 15px 20px 15px;
    padding: 20px;
}

.col {
    width: 100%;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

.col-form {
    width: 50%;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

